<a href="https://colab.research.google.com/github/manasik29/EDA1/blob/main/EDA_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [4]:
df = pd.read_csv('/content/iris.csv')
df.head()

   Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           1           5.1          3.5           1.4          0.2  setosa
1           2           4.9          3.0           1.4          0.2  setosa
2           3           4.7          3.2           1.3          0.2  setosa
3           4           4.6          3.1           1.5          0.2  setosa
4           5           5.0          3.6           1.4          0.2  setosa

In [5]:
data = df.copy()

In [6]:
data.head()

   Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           1           5.1          3.5           1.4          0.2  setosa
1           2           4.9          3.0           1.4          0.2  setosa
2           3           4.7          3.2           1.3          0.2  setosa
3           4           4.6          3.1           1.5          0.2  setosa
4           5           5.0          3.6           1.4          0.2  setosa

# **LABEL ENCODER**

In [8]:
labelencoder = LabelEncoder()
data.iloc[:, -1] = labelencoder.fit_transform(data.iloc[:,-1])

In [9]:
data

     Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  Species
0             1           5.1          3.5           1.4          0.2        0
1             2           4.9          3.0           1.4          0.2        0
2             3           4.7          3.2           1.3          0.2        0
3             4           4.6          3.1           1.5          0.2        0
4             5           5.0          3.6           1.4          0.2        0
..          ...           ...          ...           ...          ...      ...
145         146           6.7          3.0           5.2          2.3        2
146         147           6.3          2.5           5.0          1.9        2
147         148           6.5          3.0           5.2          2.0        2
148         149           6.2          3.4           5.4          2.3        2
149         150           5.9          3.0           5.1          1.8        2

[150 rows x 6 columns]

# **ONE HOT ENCODER**

**Using sklearn**

In [11]:
from sklearn.preprocessing import OneHotEncoder

In [19]:
data1=df.copy()

In [13]:
enc = OneHotEncoder(handle_unknown='ignore')

In [15]:
enc_df = pd.DataFrame(enc.fit_transform(data[['Species']]).toarray())

In [16]:
enc_df

       0    1    2
0    1.0  0.0  0.0
1    1.0  0.0  0.0
2    1.0  0.0  0.0
3    1.0  0.0  0.0
4    1.0  0.0  0.0
..   ...  ...  ...
145  0.0  0.0  1.0
146  0.0  0.0  1.0
147  0.0  0.0  1.0
148  0.0  0.0  1.0
149  0.0  0.0  1.0

[150 rows x 3 columns]

In [22]:
data_final = data1.iloc[:,0:4].join(enc_df)
data_final

     Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length    0    1    2
0             1           5.1          3.5           1.4  1.0  0.0  0.0
1             2           4.9          3.0           1.4  1.0  0.0  0.0
2             3           4.7          3.2           1.3  1.0  0.0  0.0
3             4           4.6          3.1           1.5  1.0  0.0  0.0
4             5           5.0          3.6           1.4  1.0  0.0  0.0
..          ...           ...          ...           ...  ...  ...  ...
145         146           6.7          3.0           5.2  0.0  0.0  1.0
146         147           6.3          2.5           5.0  0.0  0.0  1.0
147         148           6.5          3.0           5.2  0.0  0.0  1.0
148         149           6.2          3.4           5.4  0.0  0.0  1.0
149         150           5.9          3.0           5.1  0.0  0.0  1.0

[150 rows x 7 columns]

**Using Pandas**

In [23]:
data1 = pd.get_dummies(data1)

In [24]:
data1

,Unnamed: 0,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species_setosa,Species_versicolor,Species_virginica
0,1,5.1,3.5,1.4,0.2,1,0,0
1,2,4.9,3.0,1.4,0.2,1,0,0
2,3,4.7,3.2,1.3,0.2,1,0,0
3,4,4.6,3.1,1.5,0.2,1,0,0
4,5,5.0,3.6,1.4,0.2,1,0,0
...,...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,0,0,1
146,147,6.3,2.5,5.0,1.9,0,0,1
147,148,6.5,3.0,5.2,2.0,0,0,1
148,149,6.2,3.4,5.4,2.3,0,0,1
149,150,5.9,3.0,5.1,1.8,0,0,1

# **ISOLATION FOREST**

In [25]:
from sklearn.ensemble import IsolationForest

In [35]:
data2 = pd.read_csv('/content/iris.csv', index_col=0)

In [36]:
data2=pd.get_dummies(data2)

In [37]:
data2

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species_setosa,Species_versicolor,Species_virginica
1,5.1,3.5,1.4,0.2,1,0,0
2,4.9,3.0,1.4,0.2,1,0,0
3,4.7,3.2,1.3,0.2,1,0,0
4,4.6,3.1,1.5,0.2,1,0,0
5,5.0,3.6,1.4,0.2,1,0,0
...,...,...,...,...,...,...,...
146,6.7,3.0,5.2,2.3,0,0,1
147,6.3,2.5,5.0,1.9,0,0,1
148,6.5,3.0,5.2,2.0,0,0,1
149,6.2,3.4,5.4,2.3,0,0,1
150,5.9,3.0,5.1,1.8,0,0,1

In [38]:
#training the model
clf = IsolationForest(random_state=10, contamination=.015)
clf.fit(data2)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but IsolationForest was fitted with feature names
  "X does not have valid feature names, but"

IsolationForest(contamination=0.015, random_state=10)

In [39]:
y_outliers = clf.predict(data2)

In [40]:
y_outliers

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1])

In [41]:
data2.loc[149] = [20,30,50,40,1,0,0]

In [42]:
clf.fit(data2)
y_outliers=clf.predict(data2)
y_outliers

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but IsolationForest was fitted with feature names
  "X does not have valid feature names, but"

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1])

In [43]:
data2['Scores'] = clf.decision_function(data2)

In [45]:
data2['anamoly'] = clf.predict(data2.iloc[:,0:7])

In [46]:
data2

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species_setosa,Species_versicolor,Species_virginica,Scores,anamoly
1,5.1,3.5,1.4,0.2,1,0,0,0.187985,1
2,4.9,3.0,1.4,0.2,1,0,0,0.175301,1
3,4.7,3.2,1.3,0.2,1,0,0,0.162264,1
4,4.6,3.1,1.5,0.2,1,0,0,0.170825,1
5,5.0,3.6,1.4,0.2,1,0,0,0.182537,1
...,...,...,...,...,...,...,...,...,...
146,6.7,3.0,5.2,2.3,0,0,1,0.150458,1
147,6.3,2.5,5.0,1.9,0,0,1,0.121100,1
148,6.5,3.0,5.2,2.0,0,0,1,0.168016,1
149,20.0,30.0,50.0,40.0,1,0,0,-0.300731,-1
150,5.9,3.0,5.1,1.8,0,0,1,0.145885,1

In [47]:
data2[data2['anamoly']==-1]

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species_setosa,Species_versicolor,Species_virginica,Scores,anamoly
61,5.0,2.0,3.5,1.0,0,1,0,-0.000364,-1
107,4.9,2.5,4.5,1.7,0,0,1,-0.016203,-1
149,20.0,30.0,50.0,40.0,1,0,0,-0.300731,-1

# **PREDICTIVE POWER SCORE**

In [ ]:
!pip install ppscore

In [1]:
import ppscore as pps

In [7]:
pps.score(df, "Sepal.Length", "Petal.Length")

{'baseline_score': 1.4886666666666668,
 'case': 'regression',
 'is_valid_score': True,
 'metric': 'mean absolute error',
 'model': DecisionTreeRegressor(),
 'model_score': 0.6692708968366863,
 'ppscore': 0.550422595049248,
 'x': 'Sepal.Length',
 'y': 'Petal.Length'}

In [8]:
pps.matrix(df)

,x,y,ppscore,case,is_valid_score,metric,baseline_score,model_score,model
0,Unnamed: 0,Unnamed: 0,1.000000,predict_itself,True,None,0.000000,1.000000,None
1,Unnamed: 0,Sepal.Length,0.202091,regression,True,mean absolute error,0.684667,0.546302,DecisionTreeRegressor()
2,Unnamed: 0,Sepal.Width,0.000000,regression,True,mean absolute error,0.330667,0.351938,DecisionTreeRegressor()
3,Unnamed: 0,Petal.Length,0.686620,regression,True,mean absolute error,1.488667,0.466518,DecisionTreeRegressor()
4,Unnamed: 0,Petal.Width,0.644777,regression,True,mean absolute error,0.644667,0.229001,DecisionTreeRegressor()
5,Unnamed: 0,Species,0.979345,classification,True,weighted F1,0.353333,0.986643,DecisionTreeClassifier()
6,Sepal.Length,Unnamed: 0,0.237121,regression,True,mean absolute error,37.500000,28.607972,DecisionTreeRegressor()
7,Sepal.Length,Sepal.Length,1.000000,predict_itself,True,None,0.000000,1.000000,None
8,Sepal.Length,Sepal.Width,0.000000,regression,True,mean absolute error,0.330667,0.364704,DecisionTreeRegressor()
9,Sepal.Length,Petal.Length,0.550423,regression,True,mean absolute error,1.488667,0.669271,DecisionTreeRegressor()
10,Sepal.Length,Petal.Width,0.431739,regression,True,mean absolute error,0.644667,0.366339,DecisionTreeRegressor()
11,Sepal.Length,Species,0.471649,classification,True,weighted F1,0.353333,0.658333,DecisionTreeClassifier()
12,Sepal.Width,Unnamed: 0,0.087208,regression,True,mean absolute error,37.500000,34.229701,DecisionTreeRegressor()
13,Sepal.Width,Sepal.Length,0.006966,regression,True,mean absolute error,0.684667,0.679897,DecisionTreeRegressor()
14,Sepal.Width,Sepal.Width,1.000000,predict_itself,True,None,0.000000,1.000000,None
15,Sepal.Width,Petal.Length,0.172375,regression,True,mean absolute error,1.488667,1.232058,DecisionTreeRegressor()
16,Sepal.Width,Petal.Width,0.132858,regression,True,mean absolute error,0.644667,0.559017,DecisionTreeRegressor()
17,Sepal.Width,Species,0.156915,classification,True,weighted F1,0.353333,0.454805,DecisionTreeClassifier()
18,Petal.Length,Unnamed: 0,0.555324,regression,True,mean absolute error,37.500000,16.675354,DecisionTreeRegressor()
19,Petal.Length,Sepal.Length,0.525617,regression,True,mean absolute error,0.684667,0.324794,DecisionTreeRegressor()
20,Petal.Length,Sepal.Width,0.052136,regression,True,mean absolute error,0.330667,0.313427,DecisionTreeRegressor()
21,Petal.Length,Petal.Length,1.000000,predict_itself,True,None,0.000000,1.000000,None
22,Petal.Length,Petal.Width,0.744945,regression,True,mean absolute error,0.644667,0.164425,DecisionTreeRegressor()
23,Petal.Length,Species,0.884812,classification,True,weighted F1,0.353333,0.925512,DecisionTreeClassifier()
24,Petal.Width,Unnamed: 0,0.575272,regression,True,mean absolute error,37.500000,15.927291,DecisionTreeRegressor()
25,Petal.Width,Sepal.Length,0.383911,regression,True,mean absolute error,0.684667,0.421816,DecisionTreeRegressor()
26,Petal.Width,Sepal.Width,0.254616,regression,True,mean absolute error,0.330667,0.246474,DecisionTreeRegressor()
27,Petal.Width,Petal.Length,0.798274,regression,True,mean absolute error,1.488667,0.300302,DecisionTreeRegressor()
28,Petal.Width,Petal.Width,1.000000,predict_itself,True,None,0.000000,1.000000,None
29,Petal.Width,Species,0.927652,classification,True,weighted F1,0.353333,0.953215,DecisionTreeClassifier()
30,Species,Unnamed: 0,0.665331,regression,True,mean absolute error,37.500000,12.550092,DecisionTreeRegressor()
31,Species,Sepal.Length,0.409634,regression,True,mean absolute error,0.684667,0.404204,DecisionTreeRegressor()
32,Species,Sepal.Width,0.194307,regression,True,mean absolute error,0.330667,0.266416,DecisionTreeRegressor()
33,Species,Petal.Length,0.785393,regression,True,mean absolute error,1.488667,0.319479,DecisionTreeRegressor()
34,Species,Petal.Width,0.755749,regression,True,mean absolute error,0.644667,0.157460,DecisionTreeRegressor()
35,Species,Species,1.000000,predict_itself,True,None,0.000000,1.000000,None